body {
	margin: 0;
	padding: 0 0%;
	color: #333;
	font-family: 'Lora', serif;
	line-height: 1.75;
	letter-spacing: .01rem;
	font-size: 19px;
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}
#content {
    margin: auto;
    margin-top: 120px;
    padding: 0 5%;
    max-width: 940px;
    background-color: #fff;
    font-family: 'Lora', serif;
    line-height: 1.75;
    letter-spacing: .01rem;
    font-size: 19px;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}
#share {
    margin: auto;
    padding: 0 5%;
    max-width: 940px;
    background-color: #fff;
    font-family: 'Lora', serif;
    line-height: 1.75;
    letter-spacing: .01rem;
    font-size: 19px;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}
div.container-content {
    display: block;
    width: 90%;
    max-width: 960px;
    margin: auto;
}
.logo {
    display: inline-block; 
    float: left;
    margin-top: 3px;
    margin: auto;
}

.logo a {
    background: #111; 
    text-decoration: none; 
    border-bottom: none;
    padding-top: 0; 
    padding-bottom: 0; 
    padding-left: 10px; 
    padding-right: 10px; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    color: #fff; 
    font-size: 50px;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

.logo a:hover {
	color: #2ac4ea;
}
.topbar {
    width: 100%; 
    background: #111; 
    height: 47px;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}
.navcontainer {
    float: right; 
    display: inline-block; 
    font-family: 'Open Sans', sans-serif; 
    margin: auto;
    margin-top: 8px;
}

.topnav {
    color: #eee;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
.topnav:hover {
    color: #2ac4ea;
}
.topnavlast {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
}
.topnavlast:hover {
    color: #2ac4ea;
}

.topnavdisabled {
    color: #2ac4ea;
    text-decoration: none;
    font-weight: bold;
    opacity: .6;
}
img	{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
a {
    color: #2ac4ea;
    text-decoration: none;
}
a:hover {
    color: #62727a;
}

p.justify	{
    text-align: justify;
}
h1.title	{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1em;
    margin-bottom: -5px;
}
blockquote {
    background-color: #eee;
    border-left: #ccc solid 5px;
    padding: 15px;
    margin-left: 5px;
    text-align: justify;
    width: 95%;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#facebook	{
    display: block; 
    border-bottom: none; 
    color: #fff; 
    height: 40px; 
    background: #4466ae; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    text-align: center; 
    font-family: 'Open Sans', sans-serif; 
    padding-top: 10px;"
}
#twitter	{
    display: block; 
    border-bottom: none; 
    color: #fff; 
    height: 40px; 
    background: #02c9ff; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    text-align: center; 
    font-family: 'Open Sans', sans-serif; 
    padding-top: 10px;
}
.sharer	{
    padding-top: 20px;
    padding-bottom: 30px;
}
.shareleft	{
    width: 50%; 
    float: left;
}
.shareright	{
    width: 50%; 
    float: right;
}