body {
    margin: auto;
    padding: 0 5%;
    max-width: 940px;
    background-color: #fff;
    font-family: 'Lora', serif;
    line-height: 1.75;
    letter-spacing: .01rem;
    font-size: 19px;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}
img	{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
a {
    color: #62727a;
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:hover {

    color: #2ac4ea;
}

p.justify	{
    text-align: justify;
}
h1.title	{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1em;
    margin-bottom: -5px;
}
blockquote {
    background-color: #eee;
    border-left: #ccc solid 5px;
    padding: 15px;
    margin-left: 5px;
    text-align: justify;
    width: 95%;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
}
.logo	{
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    border-bottom: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#facebook	{
    display: block; 
    border-bottom: none; 
    color: #fff; 
    height: 40px; 
    background: #4466ae; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    text-align: center; 
    font-family: 'Open Sans', sans-serif; 
    padding-top: 10px;"
}
#twitter	{
    display: block; 
    border-bottom: none; 
    color: #fff; 
    height: 40px; 
    background: #02c9ff; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    text-align: center; 
    font-family: 'Open Sans', sans-serif; 
    padding-top: 10px;
}
.sharer	{
    padding-top: 20px;
    padding-bottom: 30px;
}
.shareleft	{
    width: 50%; 
    float: left;
}
.shareright	{
    width: 50%; 
    float: right;
}