
<!doctype html>
<html> 
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Jeremy Hoover - Hoover Studios">
    <title>The Ramblings Of Jeremy Hoover</title>
    <meta name="description" content="Simple site template from Hoover Studios">
    
    <!-- Page Style-->
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	
	<!-- Body Font -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  
    <!-- Heading Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>
	
	<!-- Fontawesome CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

</head> 

<body>
    
    {% include nav.html %}

{{content}}
    
<hr>

<p style="margin-top: -10px;">&copy; 2014  &#183; Jeremy Hoover</p>
    
{% include nav.html %}
 
</body> 
</html>