
<!doctype html>
<html> 
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Jeremy Hoover - Hoover Studios">
    <title>The Ramblings Of Jeremy Hoover</title>
    <meta name="description" content="Simple site template from Hoover Studios">
    
    <!-- Page Style-->
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	
	<!-- Body Font -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  
    <!-- Heading Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>
	
	<!-- Fontawesome CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

</head> 

<body>
    
<div class="topbar" style="position: fixed; top: 0; z-index: 1000;">

    <div class="container-content">
    
        
        <div class="logo menu-btn">
            <a href="http://jeremyhoover.github.io">H</a>
        </div>
        
        {% include nav.html %}
          
    </div>
    
</div>

{{content}}
    
<section id="share">
	<p style="font-weight: bold;"><i class="fa fa-heart"></i> - Jeremy</p>
	
	<div class="clearfix sharer">
		<div class="clearfix shareleft">
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.assdozer.com/posts/where-are-the-comments" target="_blank" id="facebook"><i class="fa fa-facebook"></i> <span class="hidden-phone">Share On</span> Facebook</a>
		</div>
	
		<div class="clearfix shareright">
			<a href="http://twitter.com/share?text=Where are the comments? (via @theassdozer) - &url=http://www.assdozer.com/posts/where-are-the-comments&hashtags=assdozer,theassdozer,theassdozeranthology" target="_blank" id="twitter"><i class="fa fa-twitter"></i> <span class="hidden-phone">Share On</span> Twitter</a>
		</div>
	</div>
    
<hr style="margin-top: 30px;">
        
          <p style="margin-bottom: 30px;">
    &copy; 2014 <a href="http://www.hooverstudios.com" style="text-decoration: none; color: #333;">Hoover Studios</a>
  </p>

</section>
 
</body> 
</html>